<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Youtube Downloader</title>
<style type="text/css">
</style>
<link href="style.css" rel="stylesheet" type="text/css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">
		<div id="image">
			<img src="http://localhost:9000/yt_icon.svg"/> 
		</div>
		<div id="header">
		YouTube Downloader
		</div>
	</div>
	<div id="content">
		<ol start="1" id="list">
			<li>Paste URL into box</li>
			<li>Press Convert Button</li>
			<li>Choose quality and file name on the next window</li>
		</ol>
		<input type="text" id="input" placeholder="Youtube URL" size=40>
		<button id="convert">Convert</button>
	</div>
</body>
<script src="client.js"></script>
</html>
