@charset "utf-8";

#container{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #E52D27;
	height: 200px;
	width: auto;
	overflow: auto;
}

#content{
	padding-top: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	position: relative;
	
}

#list{
	padding-top: 35px;
	align-items: center;
	justify-content: center;
	width: auto;
	font-family: 'Poppins';
	font-weight: 300;
	z-index: 1;
	position: absolute;
	top: 30px;
}

#input{
	padding-top: 595;
	z-index: 2;
	position: absolute;
	top: 250px;
}

button{
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 25px;
	position: absolute;
	top: 275px;
}

#image {
	max-width: 125px;
	max-height: 115px;
	flex-basis: 40%;
	border: none;
}

#header{
	font-size: 45px;
	padding-left: 35px;
	color: white;
	font-family: 'Poppins', sans-serif;
	margin: 0;
}
